<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Assessment 3</title>
</head>

<body>
  <h1>Whacky Widgets List:</h1>
  <hr>
  {% if widgets|length == 0 %}
  <p>No items on the list yet...</p>
  {% else %}
  <ul>
    {% for widget in widgets %}
    <li>{{ widget }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <hr>
  <a href="{% url 'add_widget' %}">Add Widget</a>
</body>

</html>
